<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/10260c5f-1f1a-437c-b2f4-c0fee0156f1f/resourcegroups/savy-zookeeper/providers/Microsoft.Web/sites/savy-zookeeper</ResourceId>
    <ResourceGroup>savy-zookeeper</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://savy-zookeeper.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>9b2d257a-3dad-4320-8985-d4b9af5b7381</ProjectGuid>
    <PublishUrl>https://savy-zookeeper.scm.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <TargetFramework>net9.0</TargetFramework>
    <SelfContained>true</SelfContained>
  </PropertyGroup>
</Project>