<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Savvy.ZooKeeper</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <SfIcon Name="IconName.Chart"/>  &nbsp; &nbsp; Dashboard
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="exhibits">
                <SfIcon Name="IconName.Home" />  &nbsp; &nbsp; Exhibits
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="animals">
                <SfIcon Name="IconName.Animals" />  &nbsp; &nbsp; Inhabitants
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="notes">
                <SfIcon Name="IconName.AddNotes" />  &nbsp; &nbsp; Notes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="habitats">
                <SfIcon Name="IconName.Location" />  &nbsp; &nbsp; Setup - Habitats
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="animal-types">
                <SfIcon Name="IconName.AIChat" />  &nbsp; &nbsp; Setup - Animal Types
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="admin">
                <SfIcon Name="IconName.Adjustment" />  &nbsp; &nbsp;  Admin
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="database">
                <SfIcon Name="IconName.Table" />  &nbsp; &nbsp;  Database
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="scalar/v1">
                <SfIcon Name="IconName.TimelineWorkWeek" />  &nbsp; &nbsp;  Api
            </NavLink>
        </div>
    </nav>
</div>

